/**************************************************************************************************
* Filename:       NPI_Gateway.cfg
* Revised:        $Date: 2012-03-21 17:37:33 -0700 (Wed, 21 Mar 2012) $
* Revision:       $Revision: 246 $
*
* Description:    This file contains Linux platform specific RemoTI (RTI) RNP
* 				  Hardware configuration. Modify this file to adapt to your
* 				  own system. This file also choose what serial interface to
* 				  use; I2C, SPI or UART
*
* Copyright (C) {2012} Texas Instruments Incorporated - http://www.ti.com/
*
*
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*
*    Redistributions of source code must retain the above copyright
*    notice, this list of conditions and the following disclaimer.
*
*    Redistributions in binary form must reproduce the above copyright
*    notice, this list of conditions and the following disclaimer in the
*    documentation and/or other materials provided with the
*    distribution.
*
*    Neither the name of Texas Instruments Incorporated nor the names of
*    its contributors may be used to endorse or promote products derived
*    from this software without specific prior written permission.
*
*  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
*  "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
*  LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
*  A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
*  OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
*  SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
*  LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
*  DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
*  THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
*  (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
*  OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
**************************************************************************************************/
/*
*	NPI Server HW Configuration File Syntax:
*
*	[SectionName.SubSectionName]
*	Key=value ; comment
*
*	Valid Section Names:
*		PORT
*			Valid Key
*			port ( > 1024)
*		DEVICE
*			Valid Keys:
*				deviceKey (uart=0, spi=1, i2c=2)
*				devPath (path to device as string)
*		GPIO_SRDY
*			Valid Sub Sections
*				GPIO, LEVEL_SHIFTER
*				Valid Keys
*					value (path to .value as string)
*					direction (path to .direction as string)
*					active_high_low (Active Low=0, Active High=1)
*		GPIO_MRDY
*			Valid Sub Sections
*				GPIO, LEVEL_SHIFTER
*				Valid Keys
*					value (path to .value as string)
*					direction (path to .direction as string)
*		GPIO_RESET
*			Valid Sub Sections
*				GPIO, LEVEL_SHIFTER
*				Valid Keys
*					value (path to .value as string)
*					direction (path to .direction as string)
*		SPI
*			Valid Keys
*				speed
*/

[PORT]
port=2533

[DEVICE]
deviceKey=0 ; UART
#deviceKey=1 ; SPI

devPath="/dev/ttyACM0" ; UART/CDC
#devPath="/dev/ttyO4" ; UART

[UART]
speed=115200 ; speed
flowcontrol=1 ; 1=enabled 0=disable

[SPI]
speed=500000 ; Set default speed 500kHz

[LOG]
log="./NpiLnxLog.txt" ; file to log all event/error
